:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg);
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right,
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80,
        #ffffff40,
        #ffffff30,
        #ffffff20,
        #ffffff10,
        #ffffff10,
        #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
} */

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

body {
  font-size: 16px;
  max-width: 100vw;
  /* background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: black;
  margin: 60px;
  color: white;
}

h3 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex-row-space-between {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.flex-row-align-center {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.flex-row-align-left {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.flex-column-align-left {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

.flex-row-align-left-baseline {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 0.5rem;
}

.grid-3-Columns {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}

.circleImage {
  border-radius: 50%;
}

.label {
  font-weight: bolder;
  text-transform: capitalize;
}

.text-small {
  font-size: 8pt;
  text-transform: capitalize;
}

.sign {
  font-size: small;
  color: grey;
  font-family: 'Courier New', Courier, monospace;
}

.menuItem {
  text-transform: capitalize;
  padding-bottom: 0.5rem;
}

.menuItemActived {
  text-transform: capitalize;
  border-bottom: 1px gainsboro;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.mainView {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.waveContainer {
  width: 414px;
}

.articleView {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
}

article {
  line-height: 2;
}

.textButton {
  text-transform: capitalize;
  cursor: pointer;
  width: fit-content;
  background: transparent;
  outline: none;
  border: none;
  font-size: 1rem;
  color: white;
  padding: 0;
  margin: 0;
}

.linkButton {
  padding: 1rem 2rem;
  border-radius: 10px;
  border: 1px solid #042c2d;
  box-shadow: 3px 3px 0 0 #042c2d;
  /* background-color: white; */
  color: white;
  text-transform: capitalize;
  font-weight: bold;
}

.linkButton:hover {
  box-shadow: 1px 1px 0 0 #042c2d;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid-3-Columns {
    grid-template-columns: auto auto;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 0;
    padding-bottom: 10rem;
  }

  .mainView {
    padding: 0 1rem;
    width: calc(100% - 2rem);
  }

  .grid-3-Columns {
    grid-template-columns: auto;
  }

  .articleView {
    flex-direction: column;
  }
}