.airdropItemContainer {
	position: relative;
	width: 365px;
	height: 116px;
}

.AirdropItemLayout {
	border: 1px solid #042c2d;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	cursor: pointer;
	gap: 1rem;
	padding: 1rem;
	transition: all 0.5s;
	box-shadow: 3px 3px 0 0 black;
	position: absolute;
	top: 0;
	left: 0;
}

.AirdropItemLayout:hover {
	box-shadow: 1px 1px 0 0 black;
	top: 2px;
	left: 2px;
}

@media (max-width: 700px) {
	.airdropItemContainer {
		width: 100%;
	}

	.AirdropItemLayout{
		width: calc(100% - 3rem);
	}
}